@import url('https://fonts.googleapis.com/css?family=Rokkitt');
html, body {
    background-color: floralwhite;
}
.page-wrapper  {
    margin-right: 30px;
    margin-left: 30px;
    Padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
* {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	padding: 0;
	margin: 0;
	border-style: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	background-color: antiquewhite;
	color: black;
}

body {
	padding: 35px 35px 35px 35px
}

.main p a {
    font-weight: bold;
}

p {
	padding: 10px 10px 10px 10px;
    Margin-bottom: 10px;
}

.page-wrapper {
	-webkit-columns: 300px 5;
    -moz-columns: 300px 5;
    columns: 300px 5;
}

.intro H1 {
	font-size: 250%;
    color: gr;
    text-align: center;
}

.intro H2 {
    color: #E2AE63;
}

.intro h2 abbr {
    color: #E2AE63;
    
}

h2, h3 {
    text-align: center;
    padding: 20px 0px 5px 0px;
	font-size: 150%;
	letter-spacing: 1.5px;
}

abbr, a {
    background-color: inherit;
    font-size: inherit;
}

#zen-summary p {
    background-color: #E2AE63;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-preamble p:nth-child(n+1) {
    background-color: #8DC2BC;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

.preamble h3 {
    color: #8DC2BC; 
}

#zen-explanation p:nth-child(n+1) {
    background-color: #539770;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

.explanation h3 {
    color: #539770;
}

#zen-participation p:nth-child(n+1) {
    background-color: #d8c94b;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

.participation h3 {
    color: #d8c94b;  
}

#zen-benefits p:nth-child(n+1) {
    background-color: tan;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

.benefits h3 {
    color: tan; 
}

#zen-requirements p:nth-child(n+1) {
    background-color: #B67F5F;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

.requirements h3 {
    color: #B67F5F;
}

#design-selection {
    text-align: center;
    -webkit-column-break-inside:avoid;
}

#design-selection ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px dashed black;
}

.design-selection li a:hover {
    text-shadow: .5px .5px black;
}

#design-archives {
    text-align: center;
}

#design-archives ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px dashed black;
}

#zen-resources {
    text-align: center;
}

#zen-resources ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px dashed black;
}

a:hover {
	color: black;
	text-shadow: .5px .5px black;
}

footer {
    text-align: center;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    border: 1px dashed black;
}

footer a {
    margin-right: 10px;
    color: black;
    font-size: 125%;
}

footer a:hover {
    font-size: 125%;
    text-shadow: .5px .5px black;
}
