@import url('https://fonts.googleapis.com/css?family=Rokkitt');

* {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	padding: 0;
	margin: 0;
	border-style: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	background-color: #4B7D74;
	color: black;
}

.page-wrapper {
	-webkit-columns: 300px 5;
    -moz-columns: 300px 5;
    columns: 300px 5;
}

.intro H1 {
	font-size: 300%;
    color: white;
}

h2, h3 {
    text-align: center;
    padding: 20px 0px 5px 0px;
	font-size: 150%;
	letter-spacing: 1.5px;
}

abbr, a {
    background-color: inherit;
    font-size: inherit;
}


#zen-summary p {
    background-color: #539770;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-preamble p:nth-child(n+1) {
    background-color: #8DC2BC;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-explanation p:nth-child(n+1) {
    background-color: #EDD6B4;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-participation p:nth-child(n+1) {
    background-color: #FEFAD3;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-benefits p:nth-child(n+1) {
    background-color: #E2AE63;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#zen-requirements p:nth-child(n+1) {
    background-color: #B67F5F;
    border-radius: 10px;
    -webkit-column-break-inside:avoid;
}

#design-selection {
    text-align: center;
    -webkit-column-break-inside:avoid;
}

body {
	padding: 35px 35px 35px 35px
}

p {
	padding: 10px 10px 10px 10px;
    Margin-bottom: 5px;
}

#design-selection ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
}

#design-archives {
    text-align: center;
}

#design-archives ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
}

#zen-resources {
    text-align: center;
}

#zen-resources ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
}

a:link {
}

a:hover {
	color: #8DC2BC;
	text-shadow: 1px 1px black;
}

footer {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

footer a {
    margin-right: 10px;
}
