@import url('https://fonts.googleapis.com/css?family=Rokkitt');

* {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	padding: 0;
	margin: 0;
	border-style: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	background-color: #107895;
	color: white;
}

.page-wrapper:nth-child(1) {
	-webkit-columns: 300px 4;
    -moz-columns: 300px 4;
    columns: 300px 4;
}

.intro H1 {
	font-size: 300%;
}

h2, h3 {
    text-align: center;
    padding: 5px 0px 5px 0px;
	font-size: 150%;
	letter-spacing: 1.5px;
}

#zen-summary p {
    border: 1px solid white;
}

#zen-preamble p {
    border: 1px solid white;
}

#zen-explanation p {
    border: 1px solid white;
}

#zen-participation p {
    border: 1px solid white;
}

#zen-benefits p {
    border: 1px solid white;
}

#zen-requirements p {
    border: 1px solid white;
}

#design-selection {
    text-align: center;
}

body {
	padding: 10px 15px 10px 15px
}

p {
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
}

#design-selection ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border: 1px solid white;
}

#design-archives {
    text-align: center;
}

#design-archives ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border: 1px solid white;
}

#zen-resources {
    text-align: center;
}

#zen-resources ul {
    list-style:none;
	padding: 10px 10px 10px 10px;
    margin-top: 5px;
    border: 1px solid white;
}

a:link {
}

a:hover {
	color: #0B374D;
	text-shadow: 1px 1px #107895;
}

footer {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

footer a {
    margin-right: 10px;
}